Two Types

-chi square independence(non parametric test)

-Goodness of the fit test(Check if the given sample fits the dataset or not)

Chi-square test of independence

1. purpose: Test the association between two categorical variables.
2. When to use: Use for categorical variables in a contigency table.
3. Assumptions: Data is in contigency table format,Expected fequencies in the contigency table >5.

In [24]:
import seaborn as sns
import pandas as pd
from scipy.stats import chi2_contingency

df=sns.load_dataset("tips")
df=pd.DataFrame(df)

In [25]:
df.head(10)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

In [26]:
# claim

#Gender and smoking habits in tips dataset are independent

Â· H0: Gender and smoking habits are independent (This means that distri of amoking habits doesnot differ between genders)
. H1:Gender and smoking habits are not independent( This means that smoking habits depend on gender (i.e., there's an association between gender and smoking
habits).

In [27]:
import pandas as pd
from scipy import stats

In [28]:
contingency_table=pd.crosstab(df["sex"],df["smoker"])
contingency_table

smoker  Yes  No
sex
Male     60  97
Female   33  54

Given significance level is 0.05

In [29]:
from scipy.stats import chi2_contingency

In [30]:
chi2_value,p_value,df,exp_values=chi2_contingency(contingency_table)
chi2_value,p_value

(np.float64(0.0), np.float64(1.0))

# chi-square goodness of fit

Claim:

The proportion of male and female in the tips dataset in 50-50

. H0:The observed porportion of male and female match the expected proportion of(50-50).
. H1:The observed porportion of male and female does not match with the expected proportion of(50-50).

In [32]:
df=sns.load_dataset("tips")
sample=df["sex"]
observed=sample.value_counts()
observed

sex
Male      157
Female     87
Name: count, dtype: int64

In [35]:

expected=[len(sample)/2]
expected

[122.0]

In [36]:
chi2_stat,p_value=stats.chisquare(f_obs=observed,f_exp=expected)
chi2_stat,p_value

(np.float64(20.081967213114755), np.float64(7.419293713577076e-06))