Population std is unknown

# one sample t-test:

purpose: whether the mean of single sample is significantly different from a known or hypothesized population mean.
When to use: continuous data when comparing a sample mean to a specific value.

Assumptions:
1. Data follows a normal distribution.
2. Observations are independent.|

- Example: The average total bill in the tips dataset is not 20 rupees.

- H0: he average total bill in the tips dataset is 20 rupees.
- H1: The average total bill in the tips dataset is not 20 rupees.

how to decide hypothesis.

HÃ˜: there is no effect or difference or the value is as claimed.
H1: it reflects the claim which you are trying to test.

mean=20
mean != 20

In [2]:
from scipy import stats

In [4]:
import seaborn as sns
df=sns.load_dataset("tips")
df.head(10)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

In [5]:
# The average total bill in the tips dataset is 20 rupees
t_value,p_value=stats.ttest_1samp(df['total_bill'],20)
print(t_value,p_value)

-0.37559294451919506 0.7075471935626723

# Two sample t-test:

Purpose: compares the mean of two related samples.
When to use : use for categorical and numerical data

Assumptions:
1.Both sample should be normally distributed.
2. variance of two samples must be equal.

syntax: stats.ttest_ind(sampl_1,sample_2)

Claim :The average total bill differs between smokers and non smokers.

. H0:The average total bill does not differ between smokers and non smokers.
. H1:The average total bill differs between smokers and non smokers.

In [6]:
smokers=df[df["smoker"]=="Yes"]["total_bill"]
smokers

56     38.01
58     11.24
60     20.29
61     13.81
62     11.02
       ...
234    15.53
236    12.60
237    32.83
240    27.18
241    22.67
Name: total_bill, Length: 93, dtype: float64

In [8]:
non_smokers=df[df["smoker"]=="No"]["total_bill"]
non_smokers

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
235    10.07
238    35.83
239    29.03
242    17.82
243    18.78
Name: total_bill, Length: 151, dtype: float64

In [10]:
t_value,p_value=stats.ttest_ind(smokers,non_smokers)
print(t_value,p_value)

1.338436383470007 0.18201032884302448

# as we can see the p_value is greater than that of significance value which means we are going to accept the null hypothesis stating
# that average total_bill of smokers and non smokers doesnot differ that much.