Naive Bayes (Probability )
Understanding probability

Random experiment: any experiment for which o/p
is not certain. ex- Tossing a coin, rolling a dice

Sample Space

- Study af uncertainity

In [63]:
from pandas import notna
col_names = ['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status', 'occupation', 'relationship',
'race', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week', 'native_country', 'income']

In [64]:
import pandas as pd

In [65]:
df=pd.read_csv(r"C:\Users\karth\Documents\adult.csv\adult.csv",header=None,names=col_names)
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [67]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [68]:
# finding all the categorical columns
categorical=[var for var in df.columns if df[var].dtype =="object" or df[var].dtype=="category"]

count=len(categorical)
print(f"There are {count} categorical variables")
print("The categorical variables are:\n", categorical)

There are 9 categorical variables
The categorical variables are:
 ['workclass', 'education', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'native_country', 'income']

In [69]:
categorical

['workclass',
 'education',
 'marital_status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'native_country',
 'income']

In [70]:
df[categorical].head()

,workclass,education,marital_status,occupation,relationship,race,sex,native_country,income
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States,<=50K
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,<=50K
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,<=50K
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,<=50K
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,<=50K

In [71]:
# percentage frequency distribution:

for var in categorical:
   print((df[var].value_counts()/len(df))*100)

workclass
Private             69.703019
Self-emp-not-inc     7.803814
Local-gov            6.427935
?                    5.638647
State-gov            3.986364
Self-emp-inc         3.427413
Federal-gov          2.948312
Without-pay          0.042996
Never-worked         0.021498
Name: count, dtype: float64
education
HS-grad         32.250238
Some-college    22.391818
Bachelors       16.446055
Masters          5.291607
Assoc-voc        4.244341
11th             3.608612
Assoc-acdm       3.276926
10th             2.865391
7th-8th          1.983969
Prof-school      1.768987
9th              1.578576
12th             1.329812
Doctorate        1.268389
5th-6th          1.022696
1st-4th          0.515955
Preschool        0.156629
Name: count, dtype: float64
marital_status
Married-civ-spouse       45.993673
Never-married            32.809189
Divorced                 13.645158
Separated                 3.147938
Widowed                   3.049661
Married-spouse-absent     1.283744
Married-AF-spouse         0.070637
Name: count, dtype: float64
occupation
Prof-specialty       12.714597
Craft-repair         12.588680
Exec-managerial      12.487331
Adm-clerical         11.578268
Sales                11.209729
Other-service        10.119468
Machine-op-inspct     6.148460
?                     5.660146
Transport-moving      4.904641
Handlers-cleaners     4.207487
Farming-fishing       3.052732
Tech-support          2.850035
Protective-serv       1.993182
Priv-house-serv       0.457603
Armed-Forces          0.027640
Name: count, dtype: float64
relationship
Husband           40.517797
Not-in-family     25.505973
Own-child         15.564633
Unmarried         10.583213
Wife               4.815577
Other-relative     3.012807
Name: count, dtype: float64
race
White                 85.427352
Black                  9.594300
Asian-Pac-Islander     3.190934
Amer-Indian-Eskimo     0.955130
Other                  0.832284
Name: count, dtype: float64
sex
Male      66.920549
Female    33.079451
Name: count, dtype: float64
native_country
United-States                 89.585701
Mexico                         1.974755
?                              1.790486
Philippines                    0.608089
Germany                        0.420749
Canada                         0.371610
Puerto-Rico                    0.350112
El-Salvador                    0.325543
India                          0.307116
Cuba                           0.291760
England                        0.276404
Jamaica                        0.248764
South                          0.245693
China                          0.230337
Italy                          0.224195
Dominican-Republic             0.214981
Vietnam                        0.205768
Guatemala                      0.196554
Japan                          0.190412
Poland                         0.184270
Columbia                       0.181198
Taiwan                         0.156629
Haiti                          0.135131
Iran                           0.132060
Portugal                       0.113633
Nicaragua                      0.104419
Peru                           0.095206
France                         0.089064
Greece                         0.089064
Ecuador                        0.085992
Ireland                        0.073708
Hong                           0.061423
Trinadad&Tobago                0.058352
Cambodia                       0.058352
Thailand                       0.055281
Laos                           0.055281
Yugoslavia                     0.049139
Outlying-US(Guam-USVI-etc)     0.042996
Honduras                       0.039925
Hungary                        0.039925
Scotland                       0.036854
Holand-Netherlands             0.003071
Name: count, dtype: float64
income
<=50K    75.919044
>50K     24.080956
Name: count, dtype: float64

In [72]:
import numpy as np

In [73]:
df.workclass=df.workclass.str.strip()

In [74]:
df.workclass.replace({"?":np.nan},inplace=True)
df.workclass.value_counts()

C:\Users\karth\AppData\Local\Temp\ipykernel_19248\3226314496.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.workclass.replace({"?":np.nan},inplace=True)

workclass
Private             22696
Self-emp-not-inc     2541
Local-gov            2093
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: count, dtype: int64

In [75]:
df.occupation = df.occupation.str.strip()
df.occupation.replace({"?": np.nan}, inplace=True)
df.occupation.value_counts()

C:\Users\karth\AppData\Local\Temp\ipykernel_19248\3276383426.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.occupation.replace({"?": np.nan}, inplace=True)

occupation
Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: count, dtype: int64

In [76]:
df.native_country = df.native_country.str.strip()
df.native_country.replace({"?": np.nan}, inplace=True)
df.native_country.value_counts()

C:\Users\karth\AppData\Local\Temp\ipykernel_19248\2963897521.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.native_country.replace({"?": np.nan}, inplace=True)

native_country
United-States                 29170
Mexico                          643
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Trinadad&Tobago                  19
Cambodia                         19
Thailand                         18
Laos                             18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: count, dtype: int64

In [77]:
df.workclass.fillna(df.workclass.mode()[0],inplace=True)
df.native_country.fillna(df.native_country.mode()[0],inplace=True)
df.workclass.fillna(df.workclass.mode()[0],inplace=True)

C:\Users\karth\AppData\Local\Temp\ipykernel_19248\4187793173.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.workclass.fillna(df.workclass.mode()[0],inplace=True)

In [78]:
df.isnull().sum()

age                  0
workclass            0
fnlwgt               0
education            0
education_num        0
marital_status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital_gain         0
capital_loss         0
hours_per_week       0
native_country       0
income               0
dtype: int64

In [79]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education_num      int64
marital_status    object
occupation        object
relationship      object
race              object
sex               object
capital_gain       int64
capital_loss       int64
hours_per_week     int64
native_country    object
income            object
dtype: object

In [80]:
numerical=[col for col in df.columns if df[col].dtypes=="int64"]
numerical

['age',
 'fnlwgt',
 'education_num',
 'capital_gain',
 'capital_loss',
 'hours_per_week']

In [81]:
df[numerical].isnull().sum()

age               0
fnlwgt            0
education_num     0
capital_gain      0
capital_loss      0
hours_per_week    0
dtype: int64

In [82]:
# seperate input and output target features

x=df.drop("income",axis=1)
y=df["income"]
print(x,y)

       age         workclass  fnlwgt    education  education_num  \
0       39         State-gov   77516    Bachelors             13
1       50  Self-emp-not-inc   83311    Bachelors             13
2       38           Private  215646      HS-grad              9
3       53           Private  234721         11th              7
4       28           Private  338409    Bachelors             13
...    ...               ...     ...          ...            ...
32556   27           Private  257302   Assoc-acdm             12
32557   40           Private  154374      HS-grad              9
32558   58           Private  151910      HS-grad              9
32559   22           Private  201490      HS-grad              9
32560   52      Self-emp-inc  287927      HS-grad              9

            marital_status         occupation    relationship    race  \
0            Never-married       Adm-clerical   Not-in-family   White
1       Married-civ-spouse    Exec-managerial         Husband   White
2                 Divorced  Handlers-cleaners   Not-in-family   White
3       Married-civ-spouse  Handlers-cleaners         Husband   Black
4       Married-civ-spouse     Prof-specialty            Wife   Black
...                    ...                ...             ...     ...
32556   Married-civ-spouse       Tech-support            Wife   White
32557   Married-civ-spouse  Machine-op-inspct         Husband   White
32558              Widowed       Adm-clerical       Unmarried   White
32559        Never-married       Adm-clerical       Own-child   White
32560   Married-civ-spouse    Exec-managerial            Wife   White

           sex  capital_gain  capital_loss  hours_per_week native_country
0         Male          2174             0              40  United-States
1         Male             0             0              13  United-States
2         Male             0             0              40  United-States
3         Male             0             0              40  United-States
4       Female             0             0              40           Cuba
...        ...           ...           ...             ...            ...
32556   Female             0             0              38  United-States
32557     Male             0             0              40  United-States
32558   Female             0             0              40  United-States
32559     Male             0             0              20  United-States
32560   Female         15024             0              40  United-States

[32561 rows x 14 columns] 0         <=50K
1         <=50K
2         <=50K
3         <=50K
4         <=50K
          ...
32556     <=50K
32557      >50K
32558     <=50K
32559     <=50K
32560      >50K
Name: income, Length: 32561, dtype: object

# splitting the training and testing data

In [83]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=20)

In [84]:
x_train.shape

(22792, 14)

In [85]:
x_test.shape

(9769, 14)

# encoding the categorical features

In [86]:
!pip install category_encoders

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: category_encoders in c:\users\karth\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (2.9.0)
Requirement already satisfied: numpy>=1.14.0 in c:\users\karth\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from category_encoders) (2.3.2)
Requirement already satisfied: pandas>=1.0.5 in c:\users\karth\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from category_encoders) (2.3.1)
Requirement already satisfied: patsy>=0.5.1 in c:\users\karth\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from category_encoders) (1.0.2)
Requirement already satisfied: scikit-learn>=1.6.0 in c:\users\karth\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from category_encoders) (1.7.2)
Requirement already satisfied: scipy>=1.0.0 in c:\users\karth\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from category_encoders) (1.16.2)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\karth\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from category_encoders) (0.14.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\karth\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas>=1.0.5->category_encoders) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\karth\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas>=1.0.5->category_encoders) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\karth\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas>=1.0.5->category_encoders) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\karth\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-dateutil>=2.8.2->pandas>=1.0.5->category_encoders) (1.17.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\karth\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from scikit-learn>=1.6.0->category_encoders) (1.5.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\karth\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from scikit-learn>=1.6.0->category_encoders) (3.6.0)
Requirement already satisfied: packaging>=21.3 in c:\users\karth\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from statsmodels>=0.9.0->category_encoders) (25.0)

In [87]:
categorical_test=categorical[:len(categorical)-1]
categorical_test

['workclass',
 'education',
 'marital_status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'native_country']

In [88]:
import category_encoders as ce

In [89]:
encoders=ce.OneHotEncoder(cols=['workclass',
 'education',
 'marital_status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'native_country'])
x_train_cat=encoders.fit_transform(x_train[categorical_test])
x_test_cat=encoders.transform(x_test[categorical_test])

In [90]:
x_train_cat

,workclass_1,workclass_2,workclass_3,workclass_4,workclass_5,workclass_6,workclass_7,workclass_8,education_1,education_2,...,native_country_32,native_country_33,native_country_34,native_country_35,native_country_36,native_country_37,native_country_38,native_country_39,native_country_40,native_country_41
14878,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
18249,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
24236,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19022,0,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
8947,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23452,0,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
23775,0,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4367,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
27098,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15715,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [91]:
x_test

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country
13376,34,Private,105493,Masters,14,Divorced,Prof-specialty,Unmarried,White,Female,0,0,40,United-States
7676,40,Private,235786,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,44,United-States
32188,29,Private,153416,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States
30550,43,Self-emp-not-inc,118261,Masters,14,Divorced,Other-service,Unmarried,White,Female,0,0,30,United-States
18873,27,Private,244402,Assoc-acdm,12,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,40,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2097,56,Local-gov,160829,HS-grad,9,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,46,United-States
15547,32,Private,251612,5th-6th,3,Never-married,NaN,Unmarried,White,Female,0,0,45,Mexico
31937,22,Private,239954,Some-college,10,Never-married,Adm-clerical,Other-relative,White,Male,0,0,40,United-States
6225,36,Private,383518,Some-college,10,Married-civ-spouse,Adm-clerical,Wife,Black,Female,99999,0,40,United-States
19227,28,Private,190836,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,3411,0,40,United-States

In [92]:
numerical

['age',
 'fnlwgt',
 'education_num',
 'capital_gain',
 'capital_loss',
 'hours_per_week']

In [93]:
# feature scaling

from sklearn.preprocessing import RobustScaler
scaler=RobustScaler()
x_train_num=scaler.fit_transform(x_train[numerical])
x_test_num=scaler.transform(x_test[numerical])
x_train_num=pd.DataFrame(x_train_num,columns=numerical,index=x_train[numerical].index)
x_test_num=pd.DataFrame(x_test_num,columns=numerical,index=x_test[numerical].index)
x_train_cat=pd.DataFrame(x_train_cat)
x_test_cat=pd.DataFrame(x_test_cat)

In [94]:
x_train_cat

,workclass_1,workclass_2,workclass_3,workclass_4,workclass_5,workclass_6,workclass_7,workclass_8,education_1,education_2,...,native_country_32,native_country_33,native_country_34,native_country_35,native_country_36,native_country_37,native_country_38,native_country_39,native_country_40,native_country_41
14878,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
18249,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
24236,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19022,0,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
8947,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23452,0,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
23775,0,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4367,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
27098,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15715,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [95]:
x_train_res=pd.concat([x_train_num,x_train_cat],axis=1)

In [96]:
x_test_res=pd.concat([x_test_num,x_test_cat],axis=1)
x_test_res

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,workclass_1,workclass_2,workclass_3,workclass_4,...,native_country_32,native_country_33,native_country_34,native_country_35,native_country_36,native_country_37,native_country_38,native_country_39,native_country_40,native_country_41
13376,-0.15,-0.613155,1.333333,0.0,0.0,0.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7676,0.15,0.483818,0.000000,0.0,0.0,0.8,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32188,-0.40,-0.209678,1.000000,0.0,0.0,3.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30550,0.30,-0.505658,1.333333,0.0,0.0,-2.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
18873,-0.50,0.556359,0.666667,0.0,0.0,0.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2097,0.95,-0.147266,-0.333333,0.0,0.0,1.2,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
15547,-0.25,0.617062,-2.333333,0.0,0.0,1.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31937,-0.75,0.518910,0.000000,0.0,0.0,0.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6225,-0.05,1.727615,0.000000,99999.0,0.0,0.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19227,-0.45,0.105372,-0.333333,3411.0,0.0,0.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [97]:
x_train_res.shape

(22792, 106)

In [98]:
x_test_res.shape

(9769, 106)

In [99]:
x_train_res.isnull().sum()

age                  0
fnlwgt               0
education_num        0
capital_gain         0
capital_loss         0
                    ..
native_country_37    0
native_country_38    0
native_country_39    0
native_country_40    0
native_country_41    0
Length: 106, dtype: int64

In [100]:
x_train_res.shape

(22792, 106)

In [101]:
x_test.shape

(9769, 14)

In [102]:
x_test_res.shape

(9769, 106)

# training the model

## Gaussian NB Classifier

In [103]:
from sklearn.naive_bayes import GaussianNB
# instance of the class
model=GaussianNB()
model.fit(x_train_res,y_train)

GaussianNB()

If we end up the columns as these then we may have to rename those tuples

like ('age',)

x_train.rename(columns={"('age',)":"age"})....

or alternativeley you can say x_train=x_train.values

In [104]:
x_train_res

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,workclass_1,workclass_2,workclass_3,workclass_4,...,native_country_32,native_country_33,native_country_34,native_country_35,native_country_36,native_country_37,native_country_38,native_country_39,native_country_40,native_country_41
14878,-0.30,0.472991,1.000000,0.0,0.0,0.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18249,-0.40,-0.151896,-0.333333,0.0,0.0,0.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24236,0.00,-1.083515,0.333333,0.0,0.0,0.6,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19022,0.00,0.536119,1.000000,0.0,0.0,-7.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8947,0.95,0.579234,-2.000000,0.0,0.0,0.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23452,0.60,0.429851,-0.333333,0.0,0.0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23775,-0.30,0.349926,-0.333333,0.0,0.0,0.0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4367,-0.20,0.655782,-0.333333,0.0,0.0,0.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27098,-0.40,0.020522,0.666667,0.0,0.0,4.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15715,0.05,4.378383,-0.333333,0.0,0.0,0.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [105]:
# predict the results
y_pred=model.predict(x_test_res)
y_pred=pd.DataFrame(y_pred)
y_pred

           0
0      <=50K
1       >50K
2      <=50K
3      <=50K
4      <=50K
...      ...
9764   <=50K
9765   <=50K
9766   <=50K
9767    >50K
9768    >50K

[9769 rows x 1 columns]

In [106]:
y_test

13376     <=50K
7676       >50K
32188     <=50K
30550     <=50K
18873      >50K
          ...
2097      <=50K
15547     <=50K
31937     <=50K
6225       >50K
19227     <=50K
Name: income, Length: 9769, dtype: object

In [107]:
from sklearn.metrics import accuracy_score, classification_report

accuracy_score(y_test,y_pred)

0.8021291841539564

In [110]:
# creating a confusion matrix

from sklearn.metrics import confusion_matrix,classification_report
confusion_matrix(y_test,y_pred)

array([[5892, 1486],
       [ 447, 1944]])

In [111]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

       <=50K       0.93      0.80      0.86      7378
        >50K       0.57      0.81      0.67      2391

    accuracy                           0.80      9769
   macro avg       0.75      0.81      0.76      9769
weighted avg       0.84      0.80      0.81      9769

precision results in minimising the false positive


recall results in minimising the false negative

if the model has very low recall for the minority class then the f1 score will be low